<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlbApp.issueActivity.home.title">Issue Activities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-issue-activity" [routerLink]="['/issue-activity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wlbApp.issueActivity.home.createLabel">
            Create a new Issue Activity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="issueActivities?.length === 0">
        <span jhiTranslate="wlbApp.issueActivity.home.notFound">No issueActivities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="issueActivities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activity"><span jhiTranslate="wlbApp.issueActivity.activity">Activity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="issueId"><span jhiTranslate="wlbApp.issueActivity.issue">Issue</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let issueActivity of issueActivities ;trackBy: trackId">
                    <td><a [routerLink]="['/issue-activity', issueActivity.id, 'view']">{{ issueActivity.id }}</a></td>
                    <td>{{ issueActivity.activity }}</td>
                    <td>
                        <div *ngIf="issueActivity.issueId">
                            <a [routerLink]="['/issue', issueActivity.issueId , 'view']" >{{ issueActivity.issueId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/issue-activity', issueActivity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/issue-activity', issueActivity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(issueActivity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="issueActivities?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
