<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="issueAssignee">
            <h2><span jhiTranslate="wlbApp.issueAssignee.detail.title">Issue Assignee</span> {{ issueAssignee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wlbApp.issueAssignee.user">User</span></dt>
                <dd>
                    {{ issueAssignee.userId }}
                </dd>
                <dt><span jhiTranslate="wlbApp.issueAssignee.issue">Issue</span></dt>
                <dd>
                    <div *ngIf="issueAssignee.issueId">
                        <a [routerLink]="['/issue', issueAssignee.issueId, 'view']">{{ issueAssignee.issueId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/issue-assignee', issueAssignee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
