<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlbApp.issueWatcher.home.title">Issue Watchers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-issue-watcher" [routerLink]="['/issue-watcher/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wlbApp.issueWatcher.home.createLabel">
            Create a new Issue Watcher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="issueWatchers?.length === 0">
        <span jhiTranslate="wlbApp.issueWatcher.home.notFound">No issueWatchers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="issueWatchers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="wlbApp.issueWatcher.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="issueId"><span jhiTranslate="wlbApp.issueWatcher.issue">Issue</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let issueWatcher of issueWatchers ;trackBy: trackId">
                    <td><a [routerLink]="['/issue-watcher', issueWatcher.id, 'view']">{{ issueWatcher.id }}</a></td>
                    <td>
                        {{ issueWatcher.userId }}
                    </td>
                    <td>
                        <div *ngIf="issueWatcher.issueId">
                            <a [routerLink]="['/issue', issueWatcher.issueId , 'view']" >{{ issueWatcher.issueId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/issue-watcher', issueWatcher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/issue-watcher', issueWatcher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(issueWatcher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="issueWatchers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
