<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlbApp.milestone.home.title">Milestones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-milestone" [routerLink]="['/milestone/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wlbApp.milestone.home.createLabel">
            Create a new Milestone
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="milestones?.length === 0">
        <span jhiTranslate="wlbApp.milestone.home.notFound">No milestones found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="milestones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="wlbApp.milestone.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="wlbApp.milestone.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="milestoneStatus"><span jhiTranslate="wlbApp.milestone.milestoneStatus">Milestone Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="wlbApp.milestone.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="projectName"><span jhiTranslate="wlbApp.milestone.project">Project</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let milestone of milestones ;trackBy: trackId">
                    <td><a [routerLink]="['/milestone', milestone.id, 'view']">{{ milestone.id }}</a></td>
                    <td>{{ milestone.name }}</td>
                    <td>{{ milestone.description }}</td>
                    <td jhiTranslate="{{ 'wlbApp.MilestoneStatus.' + milestone.milestoneStatus }}">{{ milestone.milestoneStatus }}</td>
                    <td>{{ milestone.dueDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="milestone.projectId">
                            <a [routerLink]="['/project', milestone.projectId , 'view']" >{{ milestone.projectName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/milestone', milestone.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/milestone', milestone.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(milestone)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="milestones?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
