<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="milestone">
            <h2><span jhiTranslate="wlbApp.milestone.detail.title">Milestone</span> {{ milestone.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wlbApp.milestone.name">Name</span></dt>
                <dd>
                    <span>{{ milestone.name }}</span>
                </dd>
                <dt><span jhiTranslate="wlbApp.milestone.description">Description</span></dt>
                <dd>
                    <span>{{ milestone.description }}</span>
                </dd>
                <dt><span jhiTranslate="wlbApp.milestone.milestoneStatus">Milestone Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'wlbApp.MilestoneStatus.' + milestone.milestoneStatus }}">{{ milestone.milestoneStatus }}</span>
                </dd>
                <dt><span jhiTranslate="wlbApp.milestone.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{ milestone.dueDate }}</span>
                </dd>
                <dt><span jhiTranslate="wlbApp.milestone.project">Project</span></dt>
                <dd>
                    <div *ngIf="milestone.projectId">
                        <a [routerLink]="['/project', milestone.projectId, 'view']">{{ milestone.projectName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/milestone', milestone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
